
name: "Verify DRY ticket"

on:
  push:
    branchs:
      - main
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Verify pr name
        run: |
          echo "${{ github.event.pull_request }}"